/*  your css code here. If applicable */
.hero{
	width: 620px;
	height: 200px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-item: center; 
}
.hero div{
	text-align:center;
}
img{
	width: 380px;
	height: 180px;
	margin-bottom: 0;
}
h1{
	font-size: 25px;
}
p{
	font-size: 15px;
	margin-bottom: 5px;
}
.div2{
	margin: 0 10px 10px 0;
}
a{
	background-color: red;
	color: white;
	font-size: 8px;
	padding: 5px;
	text-decoration: none;
}